
<
</div>
<h1 style="background-color:slateBlue;text-align:center;color: white;font-family:Fantasy;font-size: 40px">HAPPY TRAVELS<h1>
<p style="background-color:slateBlue;font-size:40px;color:white ;text-align:center">ENJOY YOUR TRIP
 WITH YOUR FRIENDS 
 WITH YOUR FAMILY <p>
<h2 style="color:slateBlue;font-size:60px;text-align:center"> HAPPY JOURNEY<h2>
<p style ="background-color:slateBlue;text-align:center ;color:white">Enjoy our Dreams<p>
<div class="box">
  <%= image_tag ('logo.png'), class: 'logo' %>
</div>
<div class="container">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Price</a></li>
  <ul/>
  </div>
  <div class="container text-center">
  <div class="row align-items-start">
    <div class="col m1">
      <h1 >Tourist places</h1>
      
      <div class="sub"><h2><a href="#">Fatehpur Sikri
       Agra Fort
        Akbar's tomb
         Ram Bagh 
         Sikandra Fort</a></h2>
         </div>
    </div>
    <div class="col m2">
      <h1>Staying Rooms</h1>
      <h2 class="sub"><a href="#">ashrams
       guesthouses
       hotels
      resorts
       homestays
       eco-accommodations houseboats
       independent houses</a></h2>
    </div>
    <div class="col m3">
      <h1>Bikes for long rides</h1>
      <h2 class="sub"><a href="#">Ducati Multistrada
      Triumph Tiger 900 
      Triumph Tiger Sport 660
      Kawasaki Versys 650
      Benelli TRK 502</a></h2>
    </div>
  </div>
</div>
<div class=" container-fluid login ">
<form>
  <div class="form-group a">
    <label for="exampleInputEmail1">
    
  <br>
    
    
    Email address</label>
    <input type="email" class="form-control  a1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted a2">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group b">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control b1" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check c">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label c1" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit " class="btn btn-primary d">Submit</button>
</form>
  
</div>